body {
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#game-board {
    display: grid;
    background-color: dodgerblue;
    height: 85vmin;
    width: 100vmin;
    grid-template-columns: Repeat(7, 12vmin);
    grid-template-rows: Repeat(6, 12vmin);
    grid-gap: 2vmin;
    position: relative;
    justify-content: center;
    padding-top: 3vmin;
}

.game-cell {
    background-color: white;
    outline: solid 2px black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-piece {
    border-radius: 100%;
    position: absolute;
    height: 12vmin;
    width: 12vmin;
    left: calc(var(--x) * 14vmin + 2vmin);
    top: calc(var(--y) * 14vmin + 3vmin);
    transition: 400ms ease-in-out;
    backface-visibility: visible !important;
    animation: flip var(--t) ease;
}

#player-indicator-container {
    height: 40vmin;
    width: 40vmin;
    display: flex;
    flex-direction: column;
    outline: 5px dashed dodgerblue;
    margin-left: 10vmin;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    animation: pulse 1s infinite ease-in-out alternate;

}

#player-indicator-h1 {
    font-size: 5vmin;
    font-family: sans-serif;
    color: dodgerblue;
}

#player-indicator-square {
    height: 10vmin;
    width: 10vmin;
    border-radius: 100%;

}

#game-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vmin;
    height: 10vmin;
}

#title {
    font-size: 8vmin;
    font-family: sans-serif;
    color: dodgerblue;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

@keyframes flash {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes shake {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}


